/* Define standard variables and values for website */
$bgcolor: rgb(206, 248, 41);
$textcolor: rgb(0, 0, 0);
$fontsize: 20px;
$form-width: 20%;
$center:center;
$margin-top:55px;


/* Use the variables */
body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
  width: $form-width;
  text-align: $center;
  margin: auto;
  margin-top: $margin-top;
}
